body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Body Header */
header{
    height: 65vh;
    background-image: url(Resources/header1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal List */
.h-list{
    list-style: none;
    padding-left: 0px;
    text-align: center;
    margin: 0px;
}
.h-list li{
    display: inline-block;
    margin: 0px 20px 0px;
    font-weight: 100;
    font-size: 2rem;
}
.h-list li a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}
nav .h-list li a:hover{
    color: lightgray;
    border-bottom: 1px solid white;
}

/* Name and socials Icons */
#details{
    margin-top: 20vh;
    text-align: center;
}
#h1-name{
    color: white;
    font-size: 7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.icon li a{
    padding: 10px;
    border-radius: 50%;
}
.icon li a:hover{
    box-shadow: 0px 0px 6px 4px rgb(230, 196, 196, 0.3);
}

/* Section classes */
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}
.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 20px auto;
    font-weight: 400;
    margin-bottom: 50px;
}
.section-heading i, span{
    font-size: 40px;
    color:#2857a4;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/* About Section */
#about{
    height: auto;
    width: 100%;
    position: relative;
}
#myimage{
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: -150px;
}
#myimage img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}
#about-para{
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 35px;
    font-weight: 100;
    font-size: 1.5rem;
}
.text-highlight {
    color: #2857a4;
    font-weight: 600;

}

/* Skills Section */

.skills-display{
    width:70%;
    /* height: auto; */
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.outer-skills-div{
    height: 40px;
    width: 200px;
    margin: 50px;
    /* border: 1px solid black; */
    border-radius: 20px;
    background-color: lightgrey;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    /* box-shadow: 0 0 10px #9e9b9b; */
    /* position: relative; */
}
.inner-skills-div{
    height: inherit;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    box-shadow: 1px 1px 5px 2px #989882;
    /* border: 1px solid black; */
}
.skill span{
    color: white;
    margin-left: 25px;
    font-size: 1.5rem;
}
.mb-blue{
    background-color:blue;
    width: 50%;
}
.mb-green{
    background-color:green;
    width: 90%;
}

.mb-red{
    background-color:red;
    width: 75%;
}
.mb-orange{
    background-color:orange;
    width: 70%;
}
.mb-purple{
    background-color:purple;
    width: 80%;
}
.mb-lightpink{
    background-color:lightpink;
    width: 65%;
}
.mb-lightblue{
    background-color:lightblue;
    width: 75%;
}

/* Experience Section */

#companies{
    position: relative;
    width: 75%;
    /* border: 1px solid black; */
}
.companies-box{
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
    /* border: 2px solid black; */
}
.companies-box::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}
.companies-box:nth-child(2n+1)::after{
    left : 109.5%;
}
.companies-box:nth-child(2n)::after{
    left : -8.5%;
}
.companies-box:nth-child(2n){
    left: 53%;
}
.companies-container{
    padding: 8px;
}
.companies-logo{
    height: 100px;
    width: 100px;
    position: absolute;
}
.companies-logo img{
    height: 80%;
    width: 80%;
}
.experience-designation {
    font-size: 1.4rem;
    color: #2857a4;
    margin: 10px 0 0 0;

}
.experience-company-name {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}
.experience-duration {
    margin-top: 0px;
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}
.experience-description{
    text-align: justify;
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}
.middle-line{
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border: 1px dashed #0096fa6b;
    height: 65%;
    color: #433E3F;
}
.middle-line .timeline-traveller{
    position: sticky;
    top: 135px;
    z-index: 2;
}
.middle-line i{
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}

/* Portfolio Section */

/* #port-container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}
.port-content{
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.port-content img{
    height: 100%;
    width: 100%;
} */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}
.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}
.portfolio-image-container:hover{
    box-shadow: 0 0 20px #74ADC8;
}
.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}

/* Contact Section */

#contact i,
#contact span {
    color: white;
}

#contact{
    background: linear-gradient(50deg, #2857a4, #403066 70%);
    color: white;
    padding-bottom: 40px;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
    font-size: 0.9rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Media queries */

@media(max-width:1050px){
    .companies-box{
        width: 90%;
    }
    .companies-box:nth-child(2n){
        left: 5%;
    }
    .middle-line{
        left: 5%;
    }
    .companies-box:nth-child(2n+1)::after{
        left : -1%;
    }
    .companies-box:nth-child(2n)::after{
        left : -1%;
    }
    html{
        font-size: 12px;
    }
}
/* @media(max-width:300px){
    .companies-logo{
        visibility: hidden;
    }
} */